html{
  padding: 0%;
  margin: 0%;
  font-size: large;
  font-family: Karla;
}

.imgcon{
  position: relative;
}

#shop:hover{
  font-size: 1.2rem;
}

.imgcon img{
  width: 100%;
  display: flex;
  height: 45rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgcon .name{
  color: white;
  position: absolute;
  top: 30%;
  left: 74%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);/* Fallback color */
  background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
  width: 35%;
  padding-bottom: 2.5rem;
  padding-left: 3rem;

}
.imgcon .name a {
  text-decoration: none;
  color: white;
  padding: 14px 12px;
  background-color: #B3885F;
}

.nav {
    display: flex;
    padding-left: inherit;
    /* background-color:#DFCCB5; */
  }

  .nav li {
    padding: 1rem;
    list-style: none;
    padding-top: 1.5rem;
  }

  .nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;   
    padding-top: 1rem; 
    padding-left: 1rem;
    font-weight:bold;
  }

  .nav img{
    width: 7rem;
    border: none;
  }

  .nav li a:hover{
    color:#6B4040;
  }

  .cardcon {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 6.5rem;
    column-gap: 2rem;
  }

  /* for porducts */
  .item{
    width: 45%;
    position: relative;
    height: auto;
    border-radius: 50%;
    margin-top: 2rem;
  }

/* For products borders */
 
.card1{
  width: 100%;
  height: 125%;
  padding: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #CBA274;
}

.card1:hover{
  transform: scale(1.1);
  box-shadow:#E6B783 5px 5px 5px;
  border-radius: 0.2rem;
}

.card1 a{
  text-decoration: none;
  color: white;
  background-color: #6B4040;
}

.container .card1 h4, p{
  color: black;
}

.container.card1 h4, p:hover{
    text-shadow: 0 0 3px white;
}

/* for footer */

.smallcon{
  background-color:#F6F6F6;
  margin:0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 10rem;
  height: 29rem;
  padding-top: 3rem;
}

#logo{
  padding-left: 3rem;
}

#logo:hover{
  transform: scale(1.2);
}

/* for footer logo */

#flog{
  top: 1rem;
  width: 7rem;
}

.us{
  margin: 1rem;
  height: 23rem;
}

.you{
  position: relative;
  bottom: 10rem;
  left: 6rem;
}

.line{
  padding: 3rem;
}

hr{
  color: black;
  height: 1rem;
}
.media{
  width: 1rem;
}

.media:hover{
  transform: scale(1.2);
}

.flink{
  text-decoration: none;
  color: rgb(110, 105, 105);
}

.bigcon{
  height: 32rem;
}

#copyright ul ,li{
  display: flex; 
  padding: 1rem;
  list-style: none;
  padding-top: 1.5rem;
  color: rgb(110, 105, 105);
}

.icon{
    padding: 0.5rem;
}

footer{
  overflow: hidden;
  padding-top: 5rem;
}

.sp{

      position: relative;
      bottom: -2rem;
}

span:hover{
  font-size: 1.3rem;
}

.pro h2:hover{
  color: black;
}

/* for responsive */

@media only screen and (max-width: 600px) {
  html{
    font-size: x-small;
  }
}

