* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36ba98;
  z-index: -1;
}

.main {
  height: 100vh;
  width: 35rem;
  border-right: 0.5rem #e9c46a solid;
  border-left: 0.5rem #e9c46a solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e76f51;
  flex-direction: column;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  z-index: 0;
}

/* -------------------------------------------------------------------------------------------------------------------- */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  height: 2.5rem;
  width: 22.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px #f4a261 solid;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: #e9c46a;
  color: white;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.scoreBoard {
  display: flex;
}

.scoreBox {
  height: 3rem;
  width: 11.3rem;
  margin: 0.2rem 0.2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: 7px solid #f4a261;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  font-size: 1.5rem;
  background-color: #e9c46a;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.gameBox {
  background-color: #e9c46a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;
  width: 18rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border: none;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  flex-wrap: wrap;
  padding: 2.5rem;
}

.btn {
  height: 7rem;
  width: 7rem;
  background-color: #36ba98;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  /* background-size:cover ; */
  cursor: pointer;
  transition: 1.5s;
}

.btn:hover {
  height: 9rem;
  width: 9rem;
}
/* -------------------------------------------------------------------------------------------------------------------- */

.display {
  height: 4rem;
  color: white;
  width: 22.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9c46a;
  border: 5px solid #f4a261;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.footer {
  height: 4rem;
  width: 22.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9c46a;
  border: 5px solid #f4a261;
  border-radius: 0.5rem;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
}

.resetBtn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  background-color: #36ba98;
  color: white;
  margin: 0.5rem;
  /* font-weight: 1000; */
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------- */

img {
  height: 6.6rem;
  width: 6.6rem;
  margin-top: 0.2rem;
  border-radius: 50%;
  object-fit: cover;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.pop-up {
  height: 20rem;
  width: 30rem;
  border: 0.5rem #e9c46a solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e76f51;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  border-radius: 0.5rem;
  /* visibility: hidden; */
}

.cancel {
  height: 3rem;
  width: 3rem;
  translate: 14.5rem -3.5rem;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #e76f51;
  align-items: center;
  justify-content: center;
  display: flex;
  border: #e9c46a 0.5rem solid;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
}

.pop-up-title {
  margin: 0.5rem;
}

.pop-up-comment {
  font-weight: 100;
  /* margin: .5rem .5rem 2rem .5rem; */
}

/* -------------------------------------------------------------------------------------------------------------------- */

.visible {
  visibility: hidden;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.optchoiced {
  height: 2.7rem;
  margin: 0.2rem;
  background-color: #36ba98;
  width: 5rem;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0.5rem;
  background-color: #36ba98;
  width: auto;
  box-shadow: inset 0rem 0rem 0.2rem 0.1rem black;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
}

.p {
  font-size: 1.5rem;
  margin: 0.5rem;
}
